.user-detail-header{
  min-height: 250px;
  background-color: #ff5b27;
  color: white;
  display: flex;
  flex-direction: row;
    align-items: flex-end;

  img{
    object-fit: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
  }
}

.user-details{
  height: 100px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3{
    margin-bottom: 0;
  }
}

.pin-right-upper-corner{
  position: absolute;
  top: 8px;
  right: 8px;
}